/*Định nghĩa màu cho website*/
$color1: #fcae1d;
$color2: #000;
$color3: #fff;
$color4: #222;
$color5: #dddddd;
$color6: #666666;
$color7: #e0e0e0;
$color9: rgba(0, 0, 0, 0.5);
$color10: #22292d;
$color11: #333;
$color12: #aeaeae;
$color13: #343c40;
$color14: #404040;
$color15: #808080;

$color-sub1: #fff;
$color-sub2: #000;

$color-background-1: #fff;
$color-background-2: #fff;
$color-button: #fff;


$color-other1: #fff;
$color-other2: #fff;

/*Định nghĩa font-family cho website*/

//FONT MONSTERRATS
@import "../plugin/fonts/montserrat/montserrat.css";

//FONT VARIABLER
$monserrat: 'Montserrat';



/*Định nghĩa font-size cho website*/


