/*ICONS BOXES*/
.gb-content-box{
  padding: 80px 0;
}
.title{
  h2{
    font-family: $monserrat;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $color14;
    text-transform: uppercase;
  }
  p{
    font-family: $monserrat;
    font-size: 14px;
    text-align: center;
    line-height: 1.71;
    color: $color15;
    padding-top: 20px;
  }
}

.gb-icons-box-item{
  display: block;
  border: solid 1px $color14;
  border-radius: 3px;
  padding: 25px 13px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 30px;
  &:hover{
    background: $color1;
    border-color: $color1;
    .item-icon{
      i{
        color: $color3;
      }
    }
    .item-content{
      h4{
        font-family: $monserrat;
        color: $color3;
      }
      .uni-line{
        background: $color3;
      }
      p{
        font-family: $monserrat;
        color: $color3;
      }
    }
  }
  .item-icon{
    text-align: center;
    padding-bottom: 20px;
    a{
      font-family: $monserrat;
      display:  block;
      i{
        font-family: FontAwesome;
        font-size: 60px;
        text-align: center;
        color: $color14;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
      }
    }
  }
  .item-content{
    h4{
      font-family: $monserrat;
      display:  block;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: $color14;
      text-transform: uppercase;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    .uni-line{
      width: 40px;
      height: 4px;
      border-radius: 2px;
      background-color: $color1;
      margin: 0 auto;
      margin-top: 15px
    }
    p{
      font-family: $monserrat;
      font-size: 14px;
      text-align: center;
      line-height: 1.71;
      color: $color15;
      padding-top: 20px;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
  }
}