.is-sticky{
  position: relative;
  z-index: 999999999;
}
.gb-header{
  border-bottom: 3px solid $color1;
  background: $color-background-1;
}

.gb-logo{
  padding: 20px 0;
}

.gb-top-header{
  background: $color1;
  padding-top: 10px;
  ul{
    float: right;
    li{
      display: inline-block;
    }
  }
}
