.uni-box-vote{
  padding-top: 10px;
  padding-bottom: 15px;
  display:  flex;
  span{
    font-size: 14px;
    color: #22292d;
    float:  left;
    i{
      font-family: FontAwesome;
      font-size: 12px;
      letter-spacing: 1.2px;
      color: #fcae1d;
    }
  }
}