.vote-star{
  ul{
    display:  flex;
    text-align:  center;
    justify-content: center;
    li{
      float: left;
      font-family: FontAwesome;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 1.2px;
      text-align: center;
      color: #fcae1d;
    }
  }
}