.single_add_to_cart_button{
  position: absolute;
  bottom: 0;
  left: 80px;
  background: #fcae1d;
  padding: 6px 24px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #fcae1d;
  border-radius: 0;
  margin-left: 10px;
  transition:  all 0.5s;
  &:hover{
    color: #fcae1d;
    background: transparent;
  }
}