.sanpham-title{
  margin-bottom: 30px;
  h3{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.gb-chitiet_sanpham-body{
  padding: 100px 0;
}

.gb-chinhsach-giaohang{
  background: #eff2f6;
  padding: 30px 15px 10px 15px;
  border-top: 3px solid #f0ad4e;
  ul{
    li{
      display: flex;
      margin-bottom: 20px;
      .icons{
        font-size: 24px;
        float: left;
      }
      .text{
        padding-left: 10px;
        p{
          color: #333;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.5;
          position: relative;
        }
        span{
          display:  block;
          font-size: 14px;
        }
        a{
          display:  block;
          color: #333333;
          text-decoration: underline;
          transition:  all 0.5s;
          line-height: 1.5;
          &:hover{
            color: #f0ad4e;
          }
        }
      }
    }
  }
}

.gb-sanphamlienquan-sidebar{
  margin-top: 40px;
}

.gb-chitiet_sanpham_left-info{
  @media screen and  (max-width: 991px){
    margin-top: 30px;
  }
  .entry-title{
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #22292d;
  }


  .description{
    p{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #666666;
    }
  }

  .product_meta{
    padding-top: 25px;
    span{
      font-size: 14px;
      font-weight: bold;
      color: #404040;
      text-transform: uppercase;
      a{
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        color: #808080;
        text-transform: none;
        &:after{
          content: ",";
        }
        &:last-child{
          &:after{
            content: "";
          }
        }
      }
    }
  }
}

/*THÔNG SỐ VÀ MÔ TẢ*/
.gb-thongso-mota{
  .uni-shortcode-tabs-default{
    .tabbable-line > .nav-tabs {
      border: none;
      margin: 0px;
    }
    .tabbable-line > .nav-tabs > li {
      margin-right: 2px;
    }
    .tabbable-line > .nav-tabs > li > a {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: normal;
      text-align: left;
      color: #aeaeae;
      text-transform: uppercase;
      border: 0;
      margin-right: 0;
      @media screen and (max-width: 767px) {
        font-size: 10px;
      }
    }
    .nav-tabs>li{
      margin-bottom: 0;
    }
    .tabbable-line > .nav-tabs > li > a > i {
      color: #a6a6a6;
    }
    .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
      border: 0;
      background: none !important;
      color: #404040;
    }
    .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
      color: #a6a6a6;
    }
    .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
      margin-top: 0px;
    }
    .tabbable-line > .nav-tabs > li.active > a {
      border: 0;
      color: #404040;
    }
    .tabbable-line > .nav-tabs > li.active > a > i {
      color: #404040;
    }
    .tabbable-line > .tab-content {
      background-color: #fff;
      border: 0;
      border-top: 1px solid #eee;
      padding: 15px 0;
    }
    .portlet .tabbable-line > .tab-content {
      padding-bottom: 0;
    }
    .tab-content{
      p{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
      }
      table{
        tr{
          td{
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.86;
            letter-spacing: normal;
            text-align: left;
            color: #333;
            &:first-child{
              width: 30%;
              font-weight: 600;
            }
            &:last-child{
              width: 70%;
            }
          }
        }
      }
    }
  }

  .uni-shortcode-tab-3{
    margin-bottom: 100px;
    .tabbable-line > .nav-tabs > li{
      border: 1px solid #E0E0E0;
      border-bottom:  none;
      margin-right: -1px;
    }
    .tabbable-line > .nav-tabs > li.active {
      border-bottom: none;
      position: relative;
      background:  transparent;
      border-top: 2px solid #f0ad4e;
    }
    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
      border-bottom: none;
    }
    .tabbable-line > .nav-tabs{
      margin-bottom: -2px;
    }
    .tabbable-line > .tab-content{
      border: 1px solid #E0E0E0;
      padding: 30px;
    }
  }
}

/*THÔNG SỐ MÔ TẢ*/
.gb-thongso-mota{
  margin-top: 50px;
}