.uni-widget-tagsclound {
  padding-top: 30px; }
  .uni-widget-tagsclound ul li {
    display: inline-block;
    margin: 0 10px 10px 0; }
    .uni-widget-tagsclound ul li a {
      display: block;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 34px;
      padding: 0 20px;
      letter-spacing: normal;
      text-align: center;
      color: #666666;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      border: 1px dashed #E0E0E0; }
      .uni-widget-tagsclound ul li a:hover {
        color: #f0ad4e;
        border-color: #f0ad4e; }
