.gb-chinhsach-giaohang {
  background: #eff2f6;
  padding: 30px 15px 10px 15px;
  border-top: 3px solid #f0ad4e; }
  .gb-chinhsach-giaohang ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
    .gb-chinhsach-giaohang ul li .icons {
      font-size: 24px;
      float: left; }
    .gb-chinhsach-giaohang ul li .text {
      padding-left: 10px; }
      .gb-chinhsach-giaohang ul li .text p {
        color: #333;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
        position: relative; }
      .gb-chinhsach-giaohang ul li .text span {
        display: block;
        font-size: 14px; }
      .gb-chinhsach-giaohang ul li .text a {
        display: block;
        color: #333333;
        text-decoration: underline;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        line-height: 1.5; }
        .gb-chinhsach-giaohang ul li .text a:hover {
          color: #f0ad4e; }
