.uni-footer-newletter{
  .input-group{
    border-radius: 4px;
    padding-bottom: 20px;
  }
  .form-control{
    height: 44px;
    background: #343c40;
    border: none;
  }
  span{
    .btn-theme{
      height: 44px;
      background: #343c40;
      color: #fcae1d
    }
  }
}