.gb-chitiet_dichvu-sp {
  margin-top: 60px; }
  .gb-chitiet_dichvu-sp .gb-dichvu-title {
    margin-bottom: 50px; }
  .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item {
    margin-bottom: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-img {
      height: 300px;
      overflow: hidden;
      position: relative;
      display: block; }
      .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-img:hover img {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%); }
      .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-img a {
        display: block; }
        .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-img a img {
          position: relative;
          width: 100%;
          height: auto;
          top: 100%;
          -webkit-transition: 1.5s linear;
          -o-transition: 1.5s linear;
          transition: 1.5s linear; }
    .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-content {
      text-align: center;
      padding-top: 20px; }
      .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-content h2 a {
        display: block;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: #404040;
        text-transform: uppercase;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
        .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-content h2 a:hover {
          color: #f0ad4e; }
      .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-content .price {
        margin: 15px 0; }
      .gb-chitiet_dichvu-sp .gb-chitiet_dichvu-sp-item .item-content .lienhe {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        background: #f0ad4e;
        min-width: 200px;
        padding: 10px; }

.gb-dichvu-title h1 {
  text-align: center;
  font-size: 36px;
  color: #ffb42d;
  font-weight: 600; }
