/*WHO WE ARE*/
.uni-about-who-are-you{
  padding-bottom: 100px;
  .uni-services-title{
    padding-bottom: 80px;
    h3{
      font-weight: 600;
      text-align: center;
      text-transform:  uppercase;
    }
  }
  .uni-about-who-are-you-left{
    @media screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  .uni-about-who-are-you-right{
    h4{
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #333333;
      text-transform:  uppercase;
      padding: 30px 0 20px 0;
    }
    p{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #666666;
    }
    ul{
      li{
        position: relative;
        padding-left: 15px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.14;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
        &:before{
          position:  absolute;
          top: 7px;
          left:  0;
          content: '\f111';
          font-family: FontAwesome;
          font-size: 7px;
          color: #f0ad4e;
        }
      }
    }
  }
}