.uni-footer-contact-info{
  ul{
    li{
      padding-bottom: 15px;
      .icon{
        float: left;
        font-family: FontAwesome;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: normal;
        text-align: left;
        color: #fcae1d;
      }
      .text{
        padding-left: 30px;
      }
    }
  }
}