/*contact opening hours*/
.uni-contact-us-hours{
  .uni-contact-us-title{
    background-color: #333333;
    display:  flex;
    align-items: center;
    .icon{
      display: flex;
      align-items: center;
      justify-content:center;
      width: 80px;
      height: 80px;
      float:  left;
      background-color: #f0ad4e;
      font-family: FontAwesome;
      font-size: 48px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.75;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    h4{
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      text-transform: uppercase;
      padding: 0 20px;
    }
  }
  .uni-contact-us-hours-content{
    background: #f0ad4e;
    padding: 20px 30px;
    .table{
      tr{
        &:first-child{
          td{
            border-top:  none;
          }
        }
        td{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 4.29;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          text-transform: capitalize;
          border-top-color: #f0ad4e;
          padding: 0;
        }
      }
    }
    .book-appointment{
      display:  block;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 50px;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      border: solid 2px #ffffff;
      text-transform: uppercase;
      transition:  all 0.5s;
      &:hover{
        background: #fff;
        color: #f0ad4e;
      }
    }
  }
}