.footer-default{
  position: relative;
  background-color: #22292d;
  .footer-main-content{
    padding: 60px 0;
  }
  .copyright-area{
    background-color: #343c40;
    p{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      text-align: center;
      color: #aeaeae;
      margin-bottom: 0;
      padding: 26px 0;
    }
    .copyright-menu{
      text-align: right;
      li{
        display: inline-block;
        a{
          padding: 25px 10px;
          display: block;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.14;
          letter-spacing: normal;
          text-align: right;
          color: #ffffff;
          transition:  all 0.5s;
          @media screen and (max-width: 991px) {
            padding: 0 10px;
          }
          @media screen and (max-width: 1199px) and (min-width: 992px) {
            padding: 25px 5px;
          }
          &:hover{
            color: #fcae1d;
          }
        }
      }
    }
  }
}

.footer-main-content-element{
  .widget-title{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  .widget-content{
    p{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      text-align: left;
      color: #aeaeae;
      margin-bottom: 0;
    }
  }
}

.uni-footer-business-hours{
  h4{
    font-size: 14px;
    color: #aeaeae;
  }
  .item{
    border-bottom: 1px solid #343c40;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}